@import "../shared/helper";

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  color:#fff;
  > header {
    height: px(99);
    background-size: cover;
  }

  > main {
    padding-top: px(30);
    flex: 1;
    display: grid;
    grid-template:"box1 box2 box4 box5"  775fr
                        "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(20);
    > section {
      text-align: center;
    }
    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361, inset 0 0 2px 0 #0f3361;
      background: #0c1139;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow:
          21px 0 0 -20px #0f3361,
        -21px 0 0 -20px #0f3361,
          0 21px 0 -20px #0f3361,
          0 -21px  0 -20px #0f3361,
        11px 0 0 -10px #0d4483,
        -11px 0 0 -10px #0d4483,
        0 11px 0 -10px #0d4483,
        0 -11px 0 -10px #0d4483;
      }
    }

    > .section1 {
      grid-area: box1;

    }

    > .section2 {
      grid-area: box2;

    }

    > .section3 {
      grid-area: box3;

    }

    > .section4 {
      grid-area: box4;

    }

    > .section5 {
      grid-area: box5;

    }
    .管辖统计 {
      height:px(315);
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        flex-shrink: 0;
        border:1px solid #0a5299;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        line-height: px(24);
        padding:px(10) px(28);
        text-shadow: 0 0 px(3) white;
      }
      .chart {
        flex:1;
        width:100%;
        border:1px solid red;
      }
    }
  }
}
